.n {
    grid-area: n;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

.NavLink {
    text-decoration: none;
}

.NavLink:hover {
    background-color: #ececec;
    border-radius: 5px;
}

.NavLink:active {
    color: black;
}
